# ============================================
# Python cache
# ============================================
__pycache__/
*.py[cod]
*$py.class


# ============================================
# C extensions
# ============================================
*.so

# ============================================
# Conda environments
# ============================================
.conda/
conda-meta/
*.conda
*.env
*.yml.lock  # if you ever generate lock files
environment*.yml  # optional: ignore environment exports

# ============================================
# Jupyter
# ============================================
.ipynb_checkpoints/
**/.ipynb_checkpoints/*

# ============================================
# macOS
# ============================================
.DS_Store
**/.DS_Store

# ============================================
# Editors
# ============================================
.vscode/

# ============================================
# Data
# ============================================
src/..data/
ipomine_v1/
ipomine_v2/
ipomine/
data/
#.gitignore
company_tickers_to_cik.csv

# ============================================
# Logs
# ============================================
*.log

# ============================================
# txt files in root directory only
# ============================================
/*.txt

# ============================================
# Misc.
# ============================================
*.egg-info/*
src/s1_filings.egg-info/
# No python notebooks inside the src/
src/**/*.ipynb

